In [21]:
!pip install imgkit

Collecting imgkit
  Downloading imgkit-1.2.2-py3-none-any.whl (10 kB)
Requirement already satisfied: six in c:\users\kanav\anaconda3\lib\site-packages (from imgkit) (1.15.0)
Installing collected packages: imgkit
Successfully installed imgkit-1.2.2

In [33]:
!pip install wkhtmltopdf

Collecting wkhtmltopdf
  Downloading wkhtmltopdf-0.2.tar.gz (9.7 kB)
Building wheels for collected packages: wkhtmltopdf
  Building wheel for wkhtmltopdf (setup.py): started
  Building wheel for wkhtmltopdf (setup.py): finished with status 'done'
  Created wheel for wkhtmltopdf: filename=wkhtmltopdf-0.2-py3-none-any.whl size=11119 sha256=dad2c7fa49b8c4c7833930e3547ba783c78849e7f4ed28682d7b65c7564db15a
  Stored in directory: c:\users\kanav\appdata\local\pip\cache\wheels\1b\47\0c\7a2def248029e992e2e8f2fc6bd479cb8648fc6cef2c374deb
Successfully built wkhtmltopdf
Installing collected packages: wkhtmltopdf
Successfully installed wkhtmltopdf-0.2

In [57]:
!pip install pdfkit

Requirement already satisfied: pdfkit in c:\users\kanav\anaconda3\lib\site-packages (1.0.0)

In [23]:
import pandas as pd
import random
import os
import imgkit

In [24]:
data = pd.read_excel("summary report-Jan'21.xlsx")
data.head()

,Employee ID,Employee Name,Total present,Total Leaves taken,Halfdays,Total late,Deduction for lates (in days),Available Leave balance,Available for next month(February ),Compensatory off,Available Compensatory off till next month (Feb),Total for payroll
0,ZM10002,Raghuram Aduri,29,2,0,0,0.0,4.0,2.0,0.0,0.0,31.0
1,ZM10009,Ramkumar Eetakota,28,2,0,1,0.0,3.5,1.5,0.0,0.0,31.0
2,ZM10011,Pradeep Naroju,27,0,0,4,0.5,1.0,0.5,0.0,0.0,31.0
3,ZM10013,AdiLakshmi Nadipineni,28,3,0,0,0.0,4.5,1.5,0.0,0.0,31.0
4,ZM10034,Kanav Bansal,31,0,0,0,0.0,12.0,12.0,0.0,0.0,31.0

In [25]:
ram = data[data['Employee ID '] == 'ZM10009']

In [51]:
dic = dict(zip(data['Employee ID '],data['Employee Name ']))
for id_,name in dic.items():
    if id_==id_:
        single_df = data[data['Employee ID ']==id_]
        options = {"format": format}
        text_file = open("./Emp_list/"+name+".html", "w")

        # write the CSS
        text_file.write(css)
        # write the HTML-ized Pandas DataFrame
        text_file.write(single_df.to_html())
        text_file.close()

In [38]:
def DataFrame_to_image(data, css, outputfile="out.jpg", format="jpg"):
    '''
    For rendering a Pandas DataFrame as an image.
    data: a pandas DataFrame
    css: a string containing rules for styling the output table. This must 
         contain both the opening an closing <style> tags.
    *outputimage: filename for saving of generated image
    *format: output format, as supported by IMGKit. Default is "png"
    '''
    fn = str(random.random()*100000000).split(".")[0] + ".html"
    
    try:
        os.remove(fn)
    except:
        None
    text_file = open(fn, "a")
    
    # write the CSS
    text_file.write(css)
    # write the HTML-ized Pandas DataFrame
    text_file.write(data.to_html())
    text_file.close()
    
    # See IMGKit options for full configuration,
    # e.g. cropping of final image
    imgkitoptions = {"format": format}
    
    imgkit.from_file(fn, outputfile, options=imgkitoptions,css=css)
    os.remove(fn)

In [26]:
boiler = """
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
    <style>
      body {
        font-family: sans-serif;
        line-height: 25px;
        background: white;
        color: black;
      }

      .table {
        width:100%;
        margin-bottom: 1rem;
        border: 1px solid grey;
        color:#212529;
      }

      .table th {
        border-bottom: 1px solid grey;
      }

      .table td,.table th{
        padding:.75rem;
        vertical-align:top;
        text-align: center;
      }

      .table th:nth-child(even) {
        background-color: black;
        color: white;
      }

      .table th:nth-child(odd) {
        background-color: red;
        color: black;
      }

      .table tbody {
        border-bottom: 2px solid grey;
      }

      .table td {
        font-weight: 900;
      }
    </style>
</head>
<body>
    <header>
      <nav>
        <div class="row">
          <div class="col-sm-3">
            <img style="height: 4em;" src="https://raw.githubusercontent.com/akhila2710/TFA_Files/main/inno%20logo%20hd%20png%20(1).png" alt="LOGO">
          </div>
          <div class="col-sm-3" style="margin-left: 12em;" ><h1 style="text-align: center;"> <u style="font-size: 0.9em;">Attendance Summary Report</u> </h1></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
        </div>
      </nav>
    </header>
    <div class="background"></div>
</body>
</html>
"""

## Converting dataframe to html format

In [29]:
dic = dict(zip(data['Employee ID '],data['Employee Name ']))
for id_,name in dic.items():
    if id_==id_:
        single_df = data[data['Employee ID ']==id_]
        options = {"format": format}
        text_file = open("./layout.html", "w")

        # write the CSS
        text_file.write(boiler)
        text_file.close()
        read_file = open("layout.html","r")
        lines = read_file.read()
        chars = lines[:1817]+single_df.to_html(classes="table table-bordered table-condensed table-hover")+lines[1820:]
        creating = open("./Emp_list/"+name+".html", "w")
        creating.write(chars)
        creating.close()

options = {"format": format}
text_file = open("./layout.html", "w")
    
# write the CSS
text_file.write(boiler)
# write the HTML-ized Pandas DataFrame
#text_file.write(ram.to_html())

text_file.close()
read_file = open("layout.html","r")
a = read_file.read()
#print(a[1820:])
chars = a[:1817]+ram.to_html(classes="table table-bordered table-condensed table-hover")+a[1820:]
print(chars)
#imgkit.from_file('ram.html',output_path="./", options=options, css=css)

In [5]:
!pip install html2image

Collecting html2image
  Downloading html2image-2.0.1-py3-none-any.whl (17 kB)
Installing collected packages: html2image
Successfully installed html2image-2.0.1

## Converting multiple HTML to .JPG

In [40]:
from html2image import Html2Image
import glob
hti = Html2Image()
for file in glob.glob("./Emp_list/*.html"):
    name = file.split("\\")[1].split(".")[0]
    hti.output_path = './jpg/'
    hti.screenshot(html_file=file, save_as=name+'.jpg')

## Converting single HTML to .JPG

In [ ]:
hti = Html2Image()
hti.output_path = './jpg/'
hti.screenshot(html_file=file, save_as='name.jpg')