In [6]:
from PIL import Image, ImageFont, ImageDraw

In [50]:
# Creating multiple images using names
names = ['Ramkumar Eetakota','Srija Sunkara','Swarupa Perumalla','Akhila Vaddamani','Nagamalleswararao']
for i in range(len(names)):
    my_image = Image.open("Internship_Sample_Certificate.jpg")
    title_font = ImageFont.truetype('C:\Users\DELL\Downloads\ITCEDSCR.TTF', 120)
    #title_text = "Ramkumar Eetakota"
    image_editable = ImageDraw.Draw(my_image)
    image_editable.text((810,840), names[i], (235, 52, 52), font=title_font)
    #my_image.show()
    my_image.save("./Tableau/result"+str(i)+".jpg")

In [91]:
# Creating multiple images using names and ids 
names = {'Ramkumar Eetakota':'IN20001','Srija Sunkara':'IN20002','Swarupa Perumalla':'IN20003','Akhila Vaddamani':'IN20004','Nagamalleswararao':'IN20005'}
for i in names:
    my_image = Image.open("Internship_Sample_Certificate.jpg")
    title_font = ImageFont.truetype(r'C:\Users\DELL\Downloads\ITCEDSCR.TTF', 120)
    title_font1 = ImageFont.truetype(r'C:\Users\DELL\Downloads\BKANT.TTF', 50)
    title_text = str(i)
    text_id = names[i]
    image_editable = ImageDraw.Draw(my_image)
    image_editable.text((810,840), title_text, (235, 52, 52), font=title_font)
    image_editable.text((350,1435), text_id, (13, 12, 12), font=title_font1)
    #my_image.show()
    my_image.save("./Tableau/"+str(i)+".jpg")

In [89]:
# Creating single image using name and id 
my_image = Image.open("Internship_Sample_Certificate.jpg")
title_font = ImageFont.truetype(r'C:\Users\DELL\Downloads\ITCEDSCR.TTF', 120)
title_font1 = ImageFont.truetype(r'C:\Users\DELL\Downloads\BKANT.TTF', 50)
title_text = "Pawan Kalyan"
text_id = 'IN20001'
image_editable = ImageDraw.Draw(my_image)
image_editable.text((810,840), title_text, (235, 52, 52), font=title_font)
image_editable.text((350,1435), text_id, (13, 12, 12), font=title_font1)
my_image.show()
my_image.save("result.jpg")

In [93]:
names = {'Ramkumar Eetakota':'IN20001','Srija Sunkara':'IN20002','Swarupa Perumalla':'IN20003','Akhila Vaddamani':'IN20004','Nagamalleswararao':'IN20005'}
for i in names.keys():
    print(names[i])

IN20001
IN20002
IN20003
IN20004
IN20005

In [96]:
import pandas as pd
df = pd.DataFrame({'names':names.keys(),
                 'id':names.values()})

In [97]:
df

               names       id
0  Ramkumar Eetakota  IN20001
1      Srija Sunkara  IN20002
2  Swarupa Perumalla  IN20003
3   Akhila Vaddamani  IN20004
4  Nagamalleswararao  IN20005

In [100]:
#Converting dataframe into dictionary
dict(zip(df.names, df.id))

{'Ramkumar Eetakota': 'IN20001',
 'Srija Sunkara': 'IN20002',
 'Swarupa Perumalla': 'IN20003',
 'Akhila Vaddamani': 'IN20004',
 'Nagamalleswararao': 'IN20005'}