In [153]:
import pandas as pd
#names = ['first','last','mail','time','status','phone','min','min2','enrolled','handleby','unnamed']
df_reg = pd.read_csv(r"C:\Users\Kanav\Downloads\88154026203_RegistrationReport (1).csv")
df_att = pd.read_csv(r"C:\Users\Kanav\Downloads\participants_88154026203.csv")

In [134]:
df_att.head()

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent
0,Chelsiv Walkar,chelsivwalkar@gmail.com,08/07/2021 11:43:30 AM,08/07/2021 01:33:15 PM,110,Yes,NaN
1,Vinay Namani,nvinay1586@gmail.com,08/07/2021 01:26:51 PM,08/07/2021 01:33:14 PM,7,Yes,NaN
2,Innomatics Research Labs,info@innomatics.in,08/07/2021 10:51:58 AM,08/07/2021 11:24:29 AM,33,No,Y
3,Mahmoud Muhizuddin,mahmoudmuhiz98@gmail.com,08/07/2021 10:52:02 AM,08/07/2021 01:33:14 PM,162,Yes,Y
4,Aman Taneja,tanejaaman888@gmail.com,08/07/2021 10:52:08 AM,08/07/2021 12:12:37 PM,81,Yes,Y

In [135]:
df_reg.head()

,First Name,Last Name,Email,Registration Time,Approval Status,Phone,Are you looking for a Data Science course(including internship experience)?,What's your Current Experiece in Data Science,How do you come to know about Workshop,Unnamed: 9
0,bala,Krishna,bbkkanth50@gmail.com,2021-08-07 11:10:34,approved,09292900148,Yes,Advanced,mail,NaN
1,Dnyaneshwar,Thakare,tdnyaneshwar79@gmail.com,2021-08-06 19:32:33,approved,8010491590,Yes,Beginner,NaN,NaN
2,Mohd,Afzal,afzalalix24@gmail.com,2021-08-07 11:00:43,approved,9720513207,In Future,Beginner,NaN,NaN
3,Dhirajkumar,Mane,dhirajmane123@gmail.com,2021-08-07 11:10:09,approved,09371764258,In Future,Beginner,Malkapur,NaN
4,Kumar,Ojja,kumarojja91221@gmail.com,2021-08-07 11:33:58,approved,9963273221,Yes,Beginner,NaN,NaN

In [97]:
#df.drop_duplicates(subset="User Email")

In [98]:
#df[df.duplicated('User Email',keep = 'last')][-20:]

In [136]:
df_duplicate = df_att[df_att['User Email'].map(df_att['User Email'].value_counts())> 1]
df_unique = df_att[df_att['User Email'].map(df_att['User Email'].value_counts())== 1]

In [137]:
df_duplicate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 0 to 172
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name (Original Name)  107 non-null    object
 1   User Email            107 non-null    object
 2   Join Time             107 non-null    object
 3   Leave Time            107 non-null    object
 4   Duration (Minutes)    107 non-null    int64
 5   Guest                 107 non-null    object
 6   Recording Consent     47 non-null     object
dtypes: int64(1), object(6)
memory usage: 6.7+ KB

In [138]:
a = df_duplicate.groupby(['User Email']).sum()
b = df_unique.groupby('User Email').sum()
a

                                  Duration (Minutes)
User Email
2019pev5331@mnit.ac.in                            64
abhiramkonkathi53@gmail.com                       77
abhishek90402@gmail.com                            7
ak099075@gmail.com                               156
anusuyaarumugam1@gmail.com                       157
ar.rahulbharathi@gmail.com                        18
ashish1.ash@gmail.com                            146
bbkkanth50@gmail.com                               8
bbkkanth@yahoo.com                                95
chelsivwalkar@gmail.com                          155
info@innomatics.in                               275
jainm0437@gmail.com                               85
jancyjose195@gmail.com                            81
kareemkhanmohd007@gmail.com                       10
koshikapavanvaraprasad@gmail.com                  37
lallawmawmisamte@gmail.com                        33
monikaraju1698@gmail.com                          22
mutukunduvishnu@gmail.com                         99
naveenarunkumar95@gmail.com                       96
naziakhans.khan7@gmail.com                        57
nvinay1586@gmail.com                             161
patilpoonam2399@gmail.com                         73
prachibarathr@gmail.com                           73
prafulkon267@gmail.com                           157
prashantroy23@gmail.com                           83
rajanipatil810@gmail.com                         151
rashmipatil.saroj@gmail.com                       63
saipavanbtech@gmail.com                           71
sangeetha.mtech.2@gmail.com                      151
shinyabhi2000@gmail.com                          139
shreyanshp227@gmail.com                          150
sunayana.biswas@innomatics.com                   230
tanejaaman888@gmail.com                          148
thakareankita04@gmail.com                        124

In [139]:
df1 = pd.concat([a,b],axis=0)
df1 = df1.reset_index()

In [140]:
df1

                     User Email  Duration (Minutes)
0        2019pev5331@mnit.ac.in                  64
1   abhiramkonkathi53@gmail.com                  77
2       abhishek90402@gmail.com                   7
3            ak099075@gmail.com                 156
4    anusuyaarumugam1@gmail.com                 157
..                          ...                 ...
95         varmaryan3@gmail.com                  50
96    varunsharma1203@gmail.com                  45
97      vtu15316@veltech.edu.in                  89
98   yashaswini112001@gmail.com                  86
99       yashr.pandey@gmail.com                   1

[100 rows x 2 columns]

In [142]:
df2 = pd.merge(df1, df_att, on=['User Email'], how='left')
final = df2.drop_duplicates(subset="User Email")

In [143]:
final = final.reset_index()

In [144]:
final = final.drop('index',axis=1)

In [149]:
final[final["Duration (Minutes)_x"]>120].count()

User Email              32
Duration (Minutes)_x    32
Name (Original Name)    32
Join Time               32
Leave Time              32
Duration (Minutes)_y    32
Guest                   32
Recording Consent       30
dtype: int64

In [129]:
#final[final["Duration (Minutes)_x"]>40].to_csv("Final_31_July.csv")

In [154]:
df_reg = df_reg.drop_duplicates(subset='User Email')

In [174]:
df2 = pd.merge(df_reg, final, on=['User Email'], how='left')
df2['Duration (Minutes)_x'].fillna("Absent",inplace=True)

In [179]:
df2.to_csv("Final_list_7_Aug.csv")

In [181]:
df2['Duration (Minutes)_x']

0           8
1      Absent
2          82
3         143
4          18
        ...
135        70
136       230
137        83
138        77
139        34
Name: Duration (Minutes)_x, Length: 140, dtype: object

In [183]:
df_reg[df_reg.duplicated("User Email")]

0      False
1      False
2      False
3      False
4      False
       ...
135    False
136    False
137    False
138    False
139    False
Length: 140, dtype: bool